#root {
  min-height: 100vh;
}

.App {
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
}

/*colors {
bleu-vert : #75B1A9
ocre : #D9B44A
sapin : #4F6457
vert pale : #ACD0C0
*/

header {
  background-color: #ACD0C0;
  color : #4F6457;
  padding: 2rem;
}

footer {
  background-color: #ACD0C0;
  color : #4F6457;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
}

main {
  flex-grow: 1;
}

form {
  display: grid;
  grid-template-columns: 5fr 2fr 1fr;
  padding : 1rem 5rem;
  justify-items: stretch;
}

form > * {
  margin-left : .2rem;
  margin-right: .2rem;
  box-sizing: content-box;
  height: 29px;
  font-size: 1em;
  color: hsl(0,0%,50%);
  padding: .2rem .5rem;
}

/*form input {
  border-color: hsl(0,0%,80%);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  margin-top: 3px;
  outline: none;
  color: hsl(0,0%,20%);
}

form input:focus {
  border: solid 2px #4F6457;
}*/

form button {
  background-color: hsl(0,0%,100%);
  border-color: hsl(0,0%,80%);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  margin-top: 3px;
  cursor: pointer;
  transition: background-color .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
}

form button:hover {
  background-color: #4F6457;
  border-color: hsl(0,0%,100%);
  color: hsl(0,0%,100%);
}

/*
.resultOptions {
  grid-column: 1 / 2;
  background-color: #fff;
  padding: 0;
  position: relative;
  top: -3px;
  min-height: 152px;
  overflow: scroll;
  border: .5px solid hsl(0,0%,80%);
  border-radius: 4px;
  box-shadow: 0px 0px 10px 1px hsl(0,0%,90%);
}

.resultOptions li {
  list-style: none;
  cursor: pointer;
  padding: .2rem .5rem;
  text-align: start;
}

.resultOptions li:hover,
.resultOptions li:focus {
  background-color: hsl(153, 28%, 90%);
}*/
